nav {
  display: flex;
  flex-flow: row wrap;
  width: 1000px;
}

a {
  color: #787b83;
  text-decoration: none;
  flex: 0 1 20%;
  text-align: center;
}

.selected {
  color: #e74f4d;
}

.underline {
  width: 20%;
  border: 1px solid #e74f4d;
  margin-left: 20%;
  transition: margin-left 0.5s;
}
