* {
  margin: 0px;
  padding: 0px;
}

body {
  color: #384452;
  font-family: "Microsoft YaHei", sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #3eb0dc;
  height: 85px;
  padding: 0px calc((100% - 1290px) / 2);
}

header > h1 {
  margin-left: 20px;
  color: white;
}

header > nav {
  margin-right: 78px;
  display: flex;
  flex-flow: row nowrap;
}

.nav-a {
  color: white;
  padding: 15px;
  position: relative;
  transition: all 0.2s linear;
}

.nav-a::before {
  content: "";
  width: 0px;
  height: 100%;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0px;
  left: 100%;
  transition: all 0.2s;
}

.nav-a:hover::before {
  width: 100%;
  left: 0px;
}

.nav-a:hover ~ a::before {
  left: 0px;
}

.nav-a:active {
  background-color: white;
  color: #3eb0dc;
}

.main {
  margin: 50px auto;
  display: flex;
  flex-flow: row nowrap;
  max-width: 1290px;
}

.main-left {
  flex: 0 1 800px;
  margin-left: 20px;
}

.search {
  display: flex;
  justify-content: space-between;
}

.main-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid #384452;
}

.main-title,
#sourceList {
  font-size: 0.9em;
}

.source-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 7px 0px;
}

.source-item:hover {
  background-color: #6c717714;
}

.source-name {
  color: #1c65b9;
}

.main-right {
  flex: 0 0 400px;
  margin: 0px 20px 0px 70px;
}

.main-right a {
  color: #3eb0dc;
  display: block;
}

#newsNotice > a,
.get-iso > p,
.get-iso > a,
.mirrors-help > p,
.mirrors-help > a,
.link > a {
  margin: 15px 0px;
}

.get-iso > a,
.mirrors-help > a {

  width: 150px;
  color: white;
  text-align: center;
  background-color: #3eb0dc;
  padding: 5px;
  transition: 0.3s background-color;
}

.get-iso > a:hover,
.mirrors-help > a:hover {
  background-color: #3693b7;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #333;
  color: #bbb;
  height: 158px;
}

footer::before,
footer::after {
  content: "";
}

footer p,
footer a {
  margin: 14px 0px;
}

footer a {
  display: block;
  color: #bbb;
}

.copyright {
  font-size: 0.7em;
  color: #999;
}

@media screen and (max-width: 830px) {
  header {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 94px;
  }

  header > h1,
  header > nav {
    margin: 0px 20px;
  }

  .main {
    flex-flow: column;
  }

  .main-left,
  .main-right {
    flex: auto;
    margin: 0px 50px;
  }
}

@media screen and (max-width: 435px) {
  header,
  .main,
  footer {
    width: 418px;
  }



  header > nav {
    display: none;
  }

  footer {
    flex-flow: column;
    height: auto;
  }
}
